<div class="container">
  <div class="row">
    <div class="col col-sm-12 col-md-4">
        <img src="{{'https://storage.cebroker.com/CEBroker/' + imgId}}" />
    </div>
    <div class="col col-sm-12 col-md-8">
      <strong>{{name}}</strong>
      <p class="gray-m">{{provider}}</p>
      <p class="gray serif">{{totalHours+" &#9679; "+ description}}</p>
      <hr>
      <button type="button" class="btn mintgreen"><span class=" white serif">{{"$ "+price}}</span></button>
    </div>
  </div>
</div>